/* Botons */
.entrapolis-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

.entrapolis-btn:hover {
    background: #e0e0e0;
    color: #333;
}

.entrapolis-btn-primary {
    background: #acf3a3;
    color: #000000;
}

.entrapolis-btn-primary:hover {
    background: #6cbe61;
    color: #000000;
}