/**
 * Estilos del widget de compra
 */

.entrapolis-buy-widget {
    max-width: 800px;
    margin: 40px auto;
}

.entrapolis-buy-widget iframe {
    width: 100%;
    min-height: 600px;
    border: 0;
}
